
        <div class="container alert alert-info" style="margin-top:100px;text-align:center;font-size:30px">
            Tell your device what to do !<br>
            <br>
            <input type="radio" ng-model="ordre" value="on">Turn the LED on. <i class="far fa-grin"></i>
            <br>
            <input type="radio" ng-model="ordre" value="off">Turn the LED off. <i class="far fa-angry"></i>
            <br>
            <br>
            <!--<input type="submit" value="Do it !">-->
            <button ng-click="myclic()">Do it !</button>
        </div>
        
        